* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

nav {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

nav .mainMenu {
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
}

nav .openMenu {
  display: none;
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
  display: none;
}

.fa-github:hover {
  color: #e5e2e2;
  cursor: pointer;
}
.fa-linkedin:hover {
}
.fa-phone:hover {
}
.fa-envelope:hover {
}

nav .logo {
  cursor: pointer;
  font-size: 25px;
  margin: 6px;
}

/* HAMBURGER MENU MEDIA Q. */
@media (max-width: 800px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hwb(192 0% 0%);
    transition: top 1.3s ease;
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  .icons i {
    display: inline-block;
    padding: 12px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    margin: 5px;
  }
}

nav .nav-link {
  padding: 6px 0;
  color: #797878;
  text-decoration: none;
  position: relative;
}
nav .nav-link::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 6px 0;
  max-width: 0;
  /* text-decoration: underline; */
  text-underline-offset: 8px;
  color: #fff;
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}
nav .nav-link:hover::before {
  max-width: 100%;
}
nav .active {
  color: white;
  text-decoration: underline;
  text-underline-offset: 8px;
}
