@media (max-width: 768px) {
  /* CARD LATER */
  /* .card-invisible {
    display: none !important;
  } */
}

@media (min-width: 768px) {
  /* FOOTER */
  footer {
    min-height: 52vh;
  }
  .contact_links {
    display: grid;
    gap: 0.7rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  .hBJahJ {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .footer_icons i {
    display: inline-block;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    margin: 5px;
  }

  /* FOOTER END */

  /* TOOLS GRID SECTION */
  .TOOLS {
    min-height: 40vh;
  }

  .tools_grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  /* TOOLS GRID SECTION END */

  /* TECHNICAL SKILL'S SECTION */

  .skills_responsive_grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  /* TECHNICAL SKILLS SECTION END */

  /* PROJECT'S SECTION/ACCORDION */

  /* PROJECT'S SECTION ACCORDION END */

  /* CURRENTLY ON ABOOUT ME SEC. */
  .ABOUT_ME {
    flex-direction: row;
  }

  .ABOUT_ME .icons i {
    display: inline-block;
    padding: 12px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    margin: 5px;
  }

  .about_title_para_responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about_responsive_img_btns {
    display: block;
    margin: auto;
  }

  /* ABOUT ME END */

  /* Landing page section */
  .landing_bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  /* SHAWNS STUFF */
  .landing_bio .desktop_title {
    text-align: left;
  }

  .column-half {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .mobile_hidden {
    display: inline-flex;
  }
  .landing_bio .desktop_link_hidden {
    display: none;
  }
  /* SHAWNS STUFF END */

  .mobile_socials {
    display: none;
  }

  .landing_bio .socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
  }

  .landing_bio .socials i {
    font-size: 50px;
  }

  .desktop_centered_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .landing_bio span {
    font-size: 1.4rem;
    margin: 5.5px;
  }

  .tags_self_closing img {
    height: 32px;
    margin: 2px;
  }

  .landing_bio .tags_self_closing {
    position: absolute;
    display: inline-flex;
  }

  /* SOCIAL LINKS IN LANDING PG */

  /* SOCIALS IN LANDING PG END */

  /* Landing page section end */
}
