@media (max-width: 768px) {
  /* CARD LATER */
  /* .card-invisible {
    display: none !important;
  } */
}

@media (min-width: 768px) {
  /* FOOTER */
  footer {
    min-height: 52vh;
  }
  .contact_links {
    display: grid;
    gap: 0.7rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  .hBJahJ {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .footer_icons i {
    display: inline-block;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    margin: 5px;
  }

  /* FOOTER END */

  /* TOOLS GRID SECTION */
  .TOOLS {
    min-height: 40vh;
  }

  .tools_grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  /* TOOLS GRID SECTION END */

  /* TECHNICAL SKILL'S SECTION */

  .skills_responsive_grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  /* TECHNICAL SKILLS SECTION END */

  /* PROJECT'S SECTION/ACCORDION */

  /* PROJECT'S SECTION ACCORDION END */

  /* CURRENTLY ON ABOOUT ME SEC. */

  .ABOUT_ME .icons i {
    display: inline-block;
    padding: 12px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    margin: 5px;
  }

  /* ABOUT ME END */
}
