nav .nav-link {
  padding: 10px 0;
  color: #797878;
  text-decoration: none;
  position: relative;
}
nav .nav-link::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 8px 0;
  max-width: 0;
  text-decoration: underline;
  text-underline-offset: 8px;
  color: #fff;
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}
nav .nav-link:hover::before {
  max-width: 100%;
}
nav .active {
  color: white;
  text-decoration: underline;
  text-underline-offset: 8px;
}
